
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
    line-height: 1.5;
}

body {
    background: whitesmoke;
    overflow-x: hidden;
}

@keyframes background_scrolling {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, rgba(223, 123, 248, 0.5) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 245, 108, 0.5) 100%), url("./HandPattern.png");
    background-position: 0 0%;
    animation: background_scrolling 120s infinite linear;
    opacity: .2;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    padding-top: 32px;
}

.links a {
    width: 128px;
    height: 64px;
}

.links a:hover {
    filter: invert(100%)
            drop-shadow(3px 0px 0px #4444dd)
            drop-shadow(-3px 0px 0px #4444dd)
            drop-shadow(0px 3px 0px #4444dd)
            drop-shadow(0px -3px 0px #4444dd);
}

@keyframes link__home {
    0% {
        background-image: url("./buttons/home.png");
    }
    33% {
        background-image: url("./buttons/home2.png");
    }
    66% {
        background-image: url("./buttons/home3.png");
    }
    100% {
        background-image: url("./buttons/home.png");
    }
}

.link-home {
    background-image: url("./buttons/home.png");
    animation: link__home 0.6s steps(1) infinite;
}

@keyframes link__games {
    0% {
        background-image: url("./buttons/games.png");
    }
    33% {
        background-image: url("./buttons/games2.png");
    }
    66% {
        background-image: url("./buttons/games3.png");
    }
    100% {
        background-image: url("./buttons/games.png");
    }
}

.link-games {
    background-image: url("./buttons/games.png");
    animation: link__games 0.7s steps(1) infinite;
}

@keyframes link__about {
    0% {
        background-image: url("./buttons/about.png");
    }
    33% {
        background-image: url("./buttons/about2.png");
    }
    66% {
        background-image: url("./buttons/about3.png");
    }
    100% {
        background-image: url("./buttons/about.png");
    }
}

.link-about {
    background-image: url("./buttons/about.png");
    animation: link__about 0.9s steps(1) infinite;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 32px;
}

.content-profile {
    max-width: calc(350px - 1rem);
    /* padding: 1rem; */
}

.profile-image img {
    border-radius: 9999px;
    border: 1px solid #ddd;
    aspect-ratio: 1 / 1;
    max-width: 256px;
}

.profile-title > * {
    font-size: 1.5rem;
    font-weight: 900;
    display: inline;
    max-width: fit-content;
    line-height: 2;
}

.profile-title > h1, .profile-title > p {
    padding: .3rem .4rem;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.profile-title > span {
    color: gray;
}

.profile-bio {
    margin-top: 1rem;
    text-align: justify;
}

.profile-links {
    padding-top: 1rem;
    margin-bottom: 32px;
}

.profile-links a {
    display: block;
    padding: 0.75rem 1rem;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: .5rem;
    color: #551A8B;
    transform-origin: center;
    transition: 0.25s;
}

.profile-links a:hover {
    scale: 110%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-links a > i {
    margin-right: .25rem;
    color: #111;
}

/*
 * STYLING untuk CONTENT UTAMA
 */

.content-main {
    max-width: 700px;
    padding: 1.5rem;
    text-align: justify;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.content-main li {
    margin-bottom: 16px;
    list-style: none;
}

.content-main h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
}

.project-card, .project-link {
    padding: .8rem;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#projects-container {
    display: block;
    column-count: 2;
    column-gap: 1rem;
}

.project-card {
    break-inside: avoid;
    padding-bottom: 1.1rem;
    display: inline-block;
    width: calc(100% - 1.6rem);
    margin-bottom: 1rem;
}

.project-card img {
    border-radius: 5px;
    width: 100%;
}

.project-title {
    font-weight: 900;
    font-size: 1.125rem;
}

.project-type {
    font-style: italic;
}

.project-description {
    display: block;
    margin-bottom: 1rem;
}

.project-link {
    padding: .5rem;
    text-decoration: none;
    margin-right: .5rem;
    font-size: 0.875rem;
}

@media (max-width: 1280px) {
    #projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 315px;
    }
    .content-main {
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 1080px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .content-profile {
        max-width: 512px;
        width: calc(100% - 2rem);
    }
    .content-main {
        max-width: calc(100% - 64px);
    }
    .content-main h2 {
        text-align: center;
    }
    .content-main ul {
        max-width: 500px;
        margin-inline: auto;
    }
    .profile-image img {
        display: flex;
        justify-content: center;
        margin-inline: auto;
        margin-bottom: 32px;
    }
    .profile-title {
        text-align: center;
    }
    .profile-links {
        display: block;
        column-count: 2;
        column-gap: 1rem;
        column-gap: 8px;
    }
    #projects-container {
        display: block;
        column-count: 2;
        column-gap: 1rem;
        max-width: 700px;
        margin-inline: auto;
    }
}

@media (max-width: 780px) {
    #projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 100%;
        max-width: 315px;
    }
    .links a {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}