
@font-face {
    font-family: "Jetbrains";
    src: url("./fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "Jetbrains Bold";
    src: url("./fonts/JetBrainsMono-Bold.ttf");
}

@font-face {
    font-family: "Jetbrains ExtraBold";
    src: url("./fonts/JetBrainsMono-ExtraBold.ttf");
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}


/*  */

@keyframes cover__fade_away {
    0% {
        background: white;
        z-index: 99;
    }
    20% {
        background: white;
        z-index: 99;
    }
    99% {
        background: #ffffff00;
        z-index: 99;
    }
    100% {
        z-index: -99;
    }
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    background: none;
    width: 100vw;
    height: 100vh;
    animation: cover__fade_away 2s ease-in-out;
}


/*  */

@property --angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 135deg;
}

@property --color-one{
    syntax: '<color>';
    inherits: false;
    initial-value: #DA22FF;
}

@property --color-two{
    syntax: '<color>';
    inherits: false;
    initial-value: #9733EE;
}

@keyframes title__name__gradient {
    0% {
        --angle: 45deg;
        --color-one: #DA22FF;
        --color-two: #9733EE;
    }
    50% {
        --angle: 165deg;
        --color-one: #FF512F;
        --color-two: #F09819;
    }
    100% {
        --angle: 45deg;
        --color-one: #DA22FF;
        --color-two: #9733EE;
    }
}

@keyframes title__name__wavy {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes title__entry {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0%);
    }
}

.title {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 2rem;
    animation: title__entry 2s ease-in-out;
}
.title h1 {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-size: 4rem;
    font-family: "Jetbrains ExtraBold", monospace;
}
.title--name {
    display: inline-flex;
}
.title--name > span {
    background: -webkit-linear-gradient(var(--angle), var(--color-one), var(--color-two));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title__name__gradient 10s infinite linear;
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0%);
    animation: 2s title__name__wavy infinite ease-in-out;
}


/*  */

@keyframes button__entry {
    0% {
        transform: translate(150%, 150%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.button {
    position: fixed;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);
    width: fit-content;
    z-index: 3;
    animation: button__entry 2s ease-in-out;
    transition: 1s;
    transform-origin: bottom right;
}
.button button {
    padding: 0.5em 1em;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: justify;
    font-family: "Jetbrains Bold";
    color: white;
    background: black;
    border: none;
    transition: 0.25s, opacity 0.5s;
    width: 295px;
    height: 158px;
}
.button button:nth-child(1):hover {
    color: yellow;
    background: #9733EE;
    cursor: pointer;
}
.button button:nth-child(1):focus {
    color: white;
    background: black;
    cursor: pointer;
}
.button--close {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    color: black !important;
    background: white !important;
    border: 2px solid #666 !important;
    align-items: center;
    justify-content: center;
}
.button:hover .button--close {
    color: white !important;
    background: black !important;
    border: 2px solid whitesmoke !important;
}
.button--spaces {
    color: #00000000;
    text-shadow: none;
}
.button--click {
    font-size: 0.6em;
    text-align: center;
    text-decoration: underline;
    font-family: "Jetbrains ExtraBold";
}


/*  */

.creations {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    transition: top 1s;
    box-shadow: 0 -2px #999;
}
.creations--title {
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(158px / 2 - 1px);
    font-family: "Jetbrains Bold";
    border-bottom: 2px solid #999;
    transition: 0.25s;
}
.creations--list {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    max-width: 768px;
    gap: 2rem;
    padding: 2rem 1rem;
    margin: 0 auto;
}


/*  */

.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid #999;
    font-family: "Jetbrains";
}
.post--number {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
    color: gray;
    align-items: center;
}
.post--img {
    width: 96px;
    height: 96px;
}
.post--content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 96px;
}
.post--content--title {
    font-family: "Jetbrains Bold";
    font-size: 1.5rem;
}
.post--content--text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.85rem;
}
.post--content button {
    padding: 0.5rem 1.2rem;
    margin-left: 0.75rem;
    font-size: 1.1rem;
    color: #ffffff;
    background: #9733EE;
    border: none;
    font-family: "Jetbrains Bold";
    cursor: pointer;
    transition: 0.25s;
}
.post--content button:hover {
    box-shadow: 0 0 10px #9733EE;
}
.post--content button:focus {
    box-shadow: 0 0 10px black;
    background: black;
}


/*  */

.links--wrapper {
    height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #999;
    border-top: none;
    transition: 1s;
}
.links {
    display: flex;
    flex-direction: column;
    font-family: "Jetbrains";
    padding: 1rem;
    gap: 1rem;
}
.links div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.links a {
    color: #9733EE;
    text-decoration: none;
    transition: 0.2s;
}
.links a:hover {
    color: navy;
}


/*  */

.contact {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0%;
    rotate: -90deg;
    transform: translate(calc(50% - 1.5rem), calc(100% + 0.5rem));
    transform-origin: center center;
}
.about {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 0%;
    rotate: -90deg;
    transform: translate(calc(50% - 1.5rem), calc(-50% - 1.5rem));
    transform-origin: center center;
}
.contact button, .about button {
    background: gainsboro;
    padding: 1rem 1.5rem;
    border: none;
    font-family: "Jetbrains";
    cursor: pointer;
    transition: 0.5s;
}
.contact button:hover {
    background: antiquewhite;
    color: maroon;
}
.about button:hover {
    background: ghostwhite;
    color: navy;
}

.contactlist {
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background: antiquewhite;
    color: maroon;
    display: flex;
    flex-direction: row;
    transition: left 1.5s;
}
.contactlist--title, .aboutpanel--title {
    width: fit-content;
    writing-mode: sideways-lr;
    padding: 1.5em 0.5em;
    border-right: 1px solid maroon;
    border-left: 1px solid maroon;
    font-size: 2.5rem;
    font-family: "Jetbrains Bold";
    color: maroon;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contactlist--title button, .aboutpanel--title button {
    aspect-ratio: 1 / 1;
    background: none;
    border: none;
    cursor: pointer;
}
.contactlist--title img, .aboutpanel--title img {
    width: 2.5rem;
}
.contactlist--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Jetbrains";
    font-size: 0.875rem;
    padding: 1rem;
}
.contactlist--list p {
    font-family: "Jetbrains Bold";
    font-size: 1.25rem;
}
.contactlist--item {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.contactlist--item a {
    text-decoration: none;
    color: black;
}


/*  */

.aboutpanel {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background: ghostwhite;
    color: navy;
    display: flex;
    flex-direction: row;
    transition: right 1.5s;
}
.aboutpanel--title {
    color: navy;
    border-color: navy;
}
.aboutpanel--content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}
.aboutpanel--content p {
    width: 100%;
    max-width: 512px;
    text-align: justify;
    line-height: 1.75;
    font-family: "Jetbrains";
}
.aboutpanel--content--big {
    font-size: 2em;
}


/* For Small Desktop / Laptop Screen */

@media only screen and (max-width: 1080px) {
    .title h1 {
        font-size: 3.25rem;
    }
    .button button {
        font-size: 1.5rem;
        width: 221px;
        height: 119px;
    }
    .creations--title {
        height: calc(119px / 2 - 1px);
    }
    .contactlist--title, .contactlist--title img, .aboutpanel--title img {
        font-size: 2rem;
    }
}


/* For Non Desktop / Laptop Screen */

@media only screen and (max-width: 992px) {
    .title h1 {
        font-size: 3rem;
    }
    .button button {
        font-size: 1.75rem;
        width: 258px;
        height: 138px;
    }
    .button button:hover {
        color: white;
        background: black;
        cursor: pointer;
    }
    .creations--title {
        height: calc(138px / 2);
        border-width: 2px;
        border-color: #666;
    }
    .contactlist--title, .contactlist--title img, .aboutpanel--title img {
        font-size: 2.25rem;
    }
}


/* For Mobile Screen */

@media only screen and (max-width: 600px) {
    .title h1 {
        font-size: 2rem;
    }
    .button button {
        font-size: 1.5rem;
        width: 221px;
        height: 119px;
    }
    .creations--title {
        justify-content: right;
        padding-right: 1rem;
        height: calc(119px / 2 - 1px);
    }
    .post {
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .contactlist--title, .contactlist--title img, .aboutpanel--title img {
        font-size: 1.35rem;
    }
}
