
html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

.control {
    position: sticky;
    width: 100vw;
    height: 300px;
}

/* HEADER STYLING */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.header--background {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image: url("./../images/batik_kubikka.png");
    opacity: .04;
}

.header--image {
    position: absolute;
    z-index: 2;
    top: 32px;
    height: 100vh;
    filter: opacity(65%);
}

.header--content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 0 2rem;
    height: 100vh;
    display: grid;
    place-content: center;
    pointer-events: none;
}

.header--content h1 {
    font-size: calc(1.625rem + 7vw);
    margin: 0;
}

.header--links {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    font-size: 32px;
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.header--links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--bs-body-color);
}

/* HEADER STYLING */

.about--transition {
    position: relative;
    z-index: 10;
    height: 50vh;
    width: 100vw;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.about {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
}

.about--content, .about--images {
    position: relative;
    width: 100%;
    padding: 4rem;
    display: grid;
    place-content: center;
}

.about--content p {
    font-size: 1.25rem;
}

.about--content h2 {
    font-size: calc(1.625rem + 6vw);
}

.about--images img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.about--adit-img {
    height: 95vh;
}

.about--batik-ornament {
    height: 100vh;
    opacity: .125;
}

/* MY SKILLS (SECTION) STYLING */

.myskills {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #293049;
    display: flex;
    align-items: end;
}

.myskills--content {
    padding: 4rem;
    color: white;
}

.myskills--content h2 {
    font-size: calc(1.625rem + 17.5vw);
    margin: 0;
}

/* SKILLS (SECTION) STYLING */

.skills {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: white;
}

.skills > * {
    width: 100%;
}

.skills--content {
    display: grid;
    place-content: end start;
    padding: 4rem;
}

.skills--content-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.skills--content p {
    font-size: 1.25rem;
    max-width: 600px;
}

.skills--content h3 {
    border-top: 1px solid white;
    font-size: calc(1.625rem + 7vw);
}

.skills--image-full {
    position: relative;
}

.skills--image-full img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills--image-full > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 256px;
}

.skills--image {
    position: relative;
}

.skills--image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    width: 512px;
}

/* PROJECTS STYLING */

.projects, .project-list {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: white;
}

.projects {
    display: grid;
    place-items: center;
    text-align: center;
}

.projects--content h2 {
    font-size: 18vw;
    margin: 0;
}

.projects--content p {
    font-style: italic;
}

.project-list--list {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

.project-item {
    width: 100%;
    padding: 1rem;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.project-item img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.project-list a {
    color: black;
}

.project-item--content {
    display: flex;
    flex-direction: column-reverse;
}

.project-item--content p {
    height: 100px;
}

.project-item--content h3 {
    height: 64px;
}

.project-list--redirect {
    width: 100%;
    max-width: 512px;
    border-top: 1px solid #ccc;
    margin: 3rem auto;
    padding-top: 1.5rem;
    text-align: center;
}

/* STYLING FOR FOOTER & CONTACTS */

.footer {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: gainsboro;
    padding-bottom: 128px;
    color: black;
}

.contact {
    height: 100vh;
    display: flex;
}

.contact > div {
    width: 100%;
    padding: 4rem;
}

.contact--info, .contact--form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contact--info h2 {
    font-size: 9vw;
}

.contact--info li {
    list-style-type: none;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.contact--form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact--form input, .contact--form textarea {
    padding: 1rem;
    background: none;
    border: 1px solid black;
    color: black;
    transition: .2s;
}

.contact--form input:focus, .contact--form textarea:focus {
    border-color: #004aad;
    outline: none;
}

.contact--form textarea {
    resize: none;
    height: 300px;
}

.contact--list {
    padding: 0;
}

.contact--form button {
    padding: 1rem;
    max-width: 300px;
    color: white;
    border: none;
    background: #004aad;
    transition: .2s;
}

.contact--form button:hover {
    background: white;
    color: #004aad;
}

.footer {
    height: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    padding-top: 128px;
}

.footer-links > div {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.footer-links a {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 64px;
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
}

.footer-links i {
    font-size: 32px;
}

/* MEDIA QUERRIES */

@media screen and (max-width: 1400px) {
    .projects {
        position: relative;
    }
    .project-list {
        position: relative;
        padding-bottom: 128px;
    }
    .project-list--list {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .project-list-control {
        height: 0;
    }
    .project-item {
        width: 100%;
        height: fit-content;
        max-width: 600px;
    }
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1180px) {
    .control {
        height: 0px;
    }
    .about, .myskills, .skills, .contact {
        position: relative;
    }
    .about {
        min-height: 100vh;
        height: fit-content;
        flex-direction: column;
    }
    .about--content {
        padding: 2rem;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .about--images {
        height: 100vh;
    }
    .skills {
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
        height: fit-content;
        padding: 4rem 0;
    }
    .skills--content {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .skills--content * {
        width: 100%;
    }
    .skills--content h3 {
        font-size: 6.5rem !important;
    }
    .skills--content p {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }
    .skills--image {
        height: 512px;
    }
    .skills--image img {
        width: 100%;
        max-width: 512px;
    }
    .skills--image-full {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        opacity: .15;
    }
    .contact {
        flex-direction: column;
        height: fit-content;
    }
    .contact > div {
        max-width: 800px;
        padding: 1.5rem !important;
    }
    .contact--list li {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 800px) {
    .footer-links {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .skills--content h3 {
        font-size: 4rem !important;
        text-align: left;
    }
    .skills--content p {
        max-width: 100%;
        margin-inline: 0;
    }
}