
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    overflow-x: hidden;
}

a {
    position: relative;
}

a::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 100%;
    transition: width .2s;
    backdrop-filter: invert(1);
}

a:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
}

/* NAVBAR STYLING */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    flex-wrap: nowrap !important;
}

.navbar * {
    font-size: 2.25rem;
    line-height: 1.25;
    transition: all 0.5s;
}

.navbar-brand-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.navbar--strip {
    width: 100%;
    height: 3.25rem;
    border-top: 1px solid var(--bs-body-color);
}

.navbar--links {
    text-align: right;
    padding-right: 1rem;
    width: 450px;
}

.navbar--links a {
    color: var(--bs-body-color);
    text-decoration: none;
}

.navbar--invert * {
    color: white !important;
    border-color: white;
}

/* SIDEBAR STYLING */

.sidebar-overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    pointer-events: all;
    transition: all 1s;
}

.sidebar-overlay-hidden {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    pointer-events: none;
}

.sidebar {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    transform: translateX(0%);
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background: white;
    transition: transform 1s;
}

.sidebar-hidden {
    transform: translateX(100%);
}

.sidebar a {
    color: black;
    font-family: "Bebas Neue";
    text-decoration: none;
    width: 100%;
    display: block;
}

.sidebar-close {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.sidebar-close button {
    aspect-ratio: 1 / 1;
    font-size: 2.5rem;
    border: none;
    background: none;
}

.sidebar-page-link {
    font-size: 2.5rem;
    padding: .5rem 0;
    margin-left: 2rem;
    border-bottom: 1px solid #ccc;
}

.sidebar-sub-link {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.sidebar-sub-link a {
    font-size: 1.75rem;
    margin-left: 4rem;
}

.sidebar-current-link a {
    color: #004aad;
}

.sidebar-icon-links {
    font-size: 2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
}

.sidebar-icon-links a {
    width: 64px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER STYLING */

.footer {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background: gainsboro;
    padding-bottom: 128px;
    color: black;
}

.contact {
    height: 100vh;
    display: flex;
}

.contact > div {
    width: 100%;
    padding: 4rem;
}

.contact--info, .contact--form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contact--info h2 {
    font-size: 9vw;
}

.contact--info li {
    list-style-type: none;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.contact--form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact--form input, .contact--form textarea {
    padding: 1rem;
    background: none;
    border: 1px solid black;
    color: black;
    transition: .2s;
}

.contact--form input:focus, .contact--form textarea:focus {
    border-color: #004aad;
    outline: none;
}

.contact--form textarea {
    resize: none;
    height: 200px;
}

.contact--list {
    padding: 0;
}

.contact--form button {
    padding: 1rem;
    max-width: 300px;
    color: white;
    border: none;
    background: #004aad;
    transition: .2s;
}

.contact--form button:hover {
    background: white;
    color: #004aad;
}

.footer {
    height: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
    padding-top: 128px;
}

.footer-links > div {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.footer-links a {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 64px;
    font-size: 1.25rem;
    color: black;
    text-decoration: none;
}

.footer-links i {
    font-size: 32px;
}

/* MEDIA QUERRIES */

@media screen and (max-width: 1400px) {
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .navbar--links a {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        height: 3rem;
    }
    .navbar-link-desktop {
        display: none !important;
    }
    .navbar--links {
        max-width: fit-content;
        padding: 0 1rem;
        height: 100%;
    }
    .navbar--strip {
        max-height: .5rem;
    }
    .navbar {
        background: rgba(255, 255, 255, .5);
    }
    .navbar--invert {
        background: rgba(0, 0, 0, .5);
    }
    .navbar * {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .footer-links {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .navbar * {
        font-size: 1rem;
    }
}
