
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.header h1, .header p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
}

.header p {
    font-size: 1.25rem;
    font-style: italic;
}

.project {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 128px 4rem;
    gap: 2rem;
}

.project--content {
    max-width: 600px;
}

.project--content h2 {
    display: block;
}

.project--content p {
    font-size: 1.25rem;
    text-align: justify;
}

.project--content a {
    color: black;
}

.project--image img {
    width: 100%;
    max-width: 630px;
    object-fit: contain;
}

.project--link {
    display: block;
    margin-top: 5rem;
    font-size: 2.5rem;
    text-decoration: none;
}

@media screen and (max-width: 1450px) {
    .project--content h2 {
        font-size: 4rem;
    }
    .project--content p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .header h1 {
        font-size: 10rem;
        width: 550px;
    }
    .project {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 600px) {
    .header h1 {
        font-size: 5rem;
        width: 100%;
    }
    .header p {
        font-size: 1rem;
        top: calc(50% + 7.5rem);
        width: 500px;
    }
    .project {
        padding: 2rem;
    }
}